/* Estilos responsivos para diferentes dispositivos */
@media (max-width: 768px) {
    .profile-image {
        width: 140px;
        height: 140px;
    }
    
    .column.is-3-desktop {
        padding-bottom: 0;
    }
    
    .profile-sidebar {
        position: relative;
        height: auto;
        padding: 1rem 0.5rem;
    }
    
    .is-size-5 {
        font-size: 1rem !important;
    }
    
    .social-icons a {
        font-size: 1.2rem;
    }
}

@media (max-width: 1023px) {
    .fixed-grid.has-2-cols {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1024px) {
    .fixed-grid.has-2-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}